.arrowOpen {
  width: 24px;
  display: inline-block;
  transform: rotateZ(-90deg);
}

.directoryItem {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  .container {
    display: flex;

    .handle {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .dropzones {
      flex-grow: 1;
    }
  }
}